$def with(result)
<!DOCTYPE html>
<html>
  <header>
   <center><h3 class="text-light bg-dark", "text-center">LISTA DE ALUMNOS<br>
    <a class="navbar-brand" href="/">REGRESAR</a></h3>
  </header>
  <body background="https://userscontent2.emaze.com/images/5aaa7739-20d4-47e2-ba36-16218294b562/ffca82def668a2a5dc221ddd321b0171.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <main role="main" class="container my-auto">
    <table class="table">
  <thead >
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Primer apellido</th>
      <th scope="col">Segundo apellido</th>
      <th scope="col">Edad</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Sexo</th>
      <th scope="col">Estado</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr> 
  </thead>
  <tbody>
    $for row  in result:
      <tr>
        <td><a href="/view/$row['matricula']">$row['matricula']</a></td>
        <td>$row['nombre']</td>
        <td>$row['apellido_pa']</td>
        <td>$row['apellido_ma']</td>
        <td>$row['edad']</td>
        <td>$row['fecha_na']</td>
        <td>$row['sexo']</td>
        <td>$row['estado']</td>
        <td>
          <a href="/update/$row['matricula']"><button type="button" class="btn" style="background:#be69f0">Update</button></a>
        </td>
        <td>
          <a href="/delete/$row['matricula']">
          <button type="button" class="btn" style="background:#f15948">Delete</button></a>
        </td>

      </tr>
  </tbody>
</table>
  </body>
</html>